body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1vw;
  width: 10vw;
  height: 10vw;
  font-size: 5vw;
  text-align: center;
  margin: 1vw 1vw 1vw 1vw;

}

.grid-item-blank {
  background-color: rgb(255, 15, 15);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5%;
  width: 10vw;
  height: 10vw;
  font-size: 5vw;
  text-align: center;
  margin: 1vw 1vw 1vw 1vw;
}

.clear-button {
  
  margin: auto;  
  display: block;
}