body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.grid-container {
  border-radius: 5%;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  background-color: #2196F3;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
  height: 340px;
  margin-bottom: 5vw;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;  
  user-select: none;
}

.grid-item-even {
  background-color: rgba(194, 214, 14, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}


.grid-item-blank {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.clear-button {
  margin-left: auto;  
  margin-right: auto;  
  margin-top: 5vw ;
  display: block;
}

.moves-sequence-box {
  border:1px solid black;
  height:30px;
  width:80%;
  white-space: nowrap;
  overflow-x:auto;
  overflow-y:hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.moves-number-output {
  display: flex;
  align-items: center;
  justify-content: center;
}

