body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.grid-container {
  border-radius: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
  max-width: fit-content;
  max-height: fit-content;
}

.grid-item {
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1vw;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 2px;
  user-select: none;
}

.grid-item-even {
  border-radius: 20%;
  background-color: rgba(194, 214, 14, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1vw;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 2px;
  user-select: none;
}


.grid-item-blank {
  background-color: #2196F3;
  border: 1px solid #2196F3;
  padding: 5%;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  font-size: 40px;
  text-align: left;
  margin: 2px 2px 2px 2px;
}

.clear-button {
  margin-left: auto;  
  margin-right: auto;  
  margin-top: 5vw ;
  display: block;
}

.moves-sequence-box {
  border:1px solid black;
  height:30px;
  width:80%;
  white-space: nowrap;
  overflow-x:auto;
  overflow-y:hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.moves-number-output {
  display: flex;
  align-items: center;
  justify-content: center;
}

